.header {
  position: relative;
  z-index: 1;

  // Hamburger Menu

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient($black, transparent);
  }

  nav {
    position: relative;
    background-color: $white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__toggle {
    // Menu Mobile hamburger

    //direct child
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $primary-dark;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 1rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 3px;

    a {
      display: block;
      color: $primary-dark;
      padding: 0.625rem;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;

      font-size: $font-sm;
      color: $primary-dark;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: $accent-dark;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $accent-dark;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
