// Colors

// Basic
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 5%);

// Layout Colors
$primary-dark: #10375c;
$primary-medium: #2e5579;
$primary-light: #738da5;

$accent-dark: #2e80ce;
$accent-medium: #9fc5ea;
$accent-light: #edf6ff;

$text-heading: #000f1d;
$text-body: #121b24;

// Red Important
$red: #f24463;

// Green Success
$green: #1ec264;

// Font Sizes
$font-sm: 1.125rem;
$font-med: 1.5rem;
$font-lg: 4rem;
$font-xlg: 4.5rem;
